<%= form_with(model: user_account) do |form| %>
<% if user_account.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% user_account.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :username, class: label_class %>
          <%= form.text_field :username, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :password, class: label_class %>
          <%= form.text_field :password, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if user_account.persisted? %>
<%= link_to "Cancel", user_account, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", user_accounts_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
